body {
    background-color: black;
}

/* .out {
    display: flex;
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

.i1 {
    display: flex;
    height: 45px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    margin-left: 45px;

}

/* .i2 {
    display: flexbox;
    height: 45px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    /* margin-left: 45px; */
/* margin-top: 50px; */
/* } */
*/ .i2 {
    display: flex;
    height: 45px;
    width: 5px;
    margin: 0;
    background-color: white;
    border-radius: 100%;
    margin-left: 45px;
    transform: rotate(15deg);

}

.i3 {
    display: flex;
    height: 45px;
    width: 5px;
    margin: 0;
    background-color: white;
    border-radius: 100%;
    margin-left: 45px;
    transform: rotate(30deg);

}

.i4 {
    display: flex;
    height: 45px;
    width: 5px;
    margin: 0;
    background-color: white;
    border-radius: 100%;
    margin-left: 45px;
    transform: rotate(45deg);

}

.i5 {
    display: flex;
    height: 45px;
    width: 5px;
    margin: 0;
    background-color: white;
    border-radius: 100%;
    margin-left: 45px;
    transform: rotate(60deg);

}

.i6 {
    display: flex;
    height: 45px;
    width: 5px;
    background-color: white;
    margin: 0;
    border-radius: 100%;
    margin-left: 45px;
    transform: rotate(75deg);

}

.i7 {
    display: flex;
    height: 45px;
    width: 5px;
    background-color: white;
    border-radius: 100%;
    margin: 0;
    margin-left: 45px;
    margin-top: 25px;
    transform: rotate(90deg);

}